@page "/game/{Id}"
@using BowlingTrackerSupreme.Domain.Models
@using BowlingTrackerSupreme.Infrastructure.Database
@using Microsoft.EntityFrameworkCore
@inject BowlingTrackerSupremeDbContext DbContext
@inject NavigationManager NavigationManager
@attribute [StreamRendering]

<PageTitle>Game @_game?.GameNumber - @_game?.PlayedOn.ToShortDateString()</PageTitle>

@if (_game == null) { <h3>Game - <em> Loading...</em>></h3> }
else { <h3>Game @_game.GameNumber - @_game.PlayedOn.ToShortDateString()</h3> }

<table class="table table-striped table-hover table-responsive">
    <caption>Game players: 
        @if (_gamePlayers == null)
        {
            <em>Loading...</em>
        }
        else 
        {
            @(_gamePlayers?.Count() ?? 0)
        }
    </caption>
    <thead>
        <tr class="d-flex flex-nowrap flex-row">
            <th class="d-flex justify-content-start w-50" >Player</th>
            @for(var index = 1; index <= 10; index++)
            {
                <th class="d-flex flex-nowrap justify-content-center" style="width: 100px;" >@index</th>
            }
            <th class="d-flex justify-content-center w-50">Score</th>
        </tr>
    </thead>
    <tbody>
        @if (_gamePlayers == null || !_gamePlayers.Any())
        {
            <tr>
                <td colspan="12" class="text-center"><em>No players found for this game.</em></td>
            </tr>
        }
        else
        {
            @foreach (var playerGame in _gamePlayers)
            {
                <tr class="d-flex">
                    <td class="d-flex align-content-center w-50"><a href="/player/@playerGame.PlayerId">@playerGame.Player.UserName</a></td>
                    @foreach(var frame in playerGame.Frames)
                    {
                        <td style="width: 100px;">
                            <div class="d-flex flex-md-wrap border-1">
                                <div class="d-flex justify-content-center w-50">
                                    @frame.FirstRoll
                                </div>
                                <div class="d-flex justify-content-center w-50 border border-1 border-dark">
                                    @* @if(frame.i IsSpare) { <div>/</div> }
                                    else { @frame.SecondRoll?.PinsHit } *@
                                    @frame.SecondRoll
                                </div>
                                <div class="w-100 d-flex justify-content-center">
                                   <b>@frame.Score</b>
                                </div>
                            </div>	
                        </td>
                    }
                    @if (playerGame.Frames?.Count() < 10)
                    {
                        @for (var i = playerGame.Frames.Count(); i < 10; i++)
                        {
                            <td style="width: 100px;" class="d-flex justify-content-center">--</td>
                        }
                    }.)
                    <td class="d-flex w-50">@playerGame.TotalScore</td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    [Parameter]
    public string Id { get; set; }

    private Domain.Models.Game _game;
    private IEnumerable<Domain.Models.Frame> _frames;
    private IEnumerable<Domain.Models.GamePlayer> _gamePlayers;
    private IEnumerable<Domain.Models.Player> _players;

    protected override async Task OnInitializedAsync()
    {
        if (!Guid.TryParse(Id, out var gameId))
        {
            NavigationManager.NavigateTo("/error");
        }
        var game = await DbContext.GameSet.FindAsync(gameId);
        if (game == null)
        {
            NavigationManager.NavigateTo("/error");
        }

        _gamePlayers = await DbContext.GamePlayerSet
            .Include(gp => gp.Player)
            .Include(gp => gp.Frames)
            .Where(gp => gp.GameId == gameId)
            .ToListAsync();

		_game = game;
	}
}
